div{
    height:100px;
    width: 600px;
    background-color: pink;
    border:5px solid blue;
    border-radius: 5px;
    padding-top: 10px;
    margin-bottom: 25px;
}
h1{
    border-width: 2px;
    border-style: solid;
    width:500px;
    border-color: red;
    height: 50px;
    border-left-color: blueviolet;
    border-top-color: aquamarine;
    border-radius: 10px;
    margin: 0px;;
}
button{
    padding:1px 90px;
    color:aquamarine;
}